body
{
    margin: 0px 0 ;
    padding: 0 ;
    text-align: center ;
    font: 0.8em "Trebuchet MS", helvetica, sans-serif ;
    
    background-color: grey;

}
div#conteneur
{
    width: 1000px ;

    margin: 0 auto ;
    text-align: left ;
    border: 2px solid rgb(200,90,90);
    background: #fff ;
    clear: both;
}
h1#header
{
    height: 120px;
    background: url(logoAccueil.jpg) no-repeat 30px;
    background-color: #3a3c3e;
    margin: 0;
}
h1#header a
{
    width: 600 px ;
    height: 0px ;
    display: block ;
    
    position: relative ;
    left: 200px ;
  
      font-size: 60px;
  text-shadow: -2px -2px #f00, 2px 2px #a00, -3px 0 4px #000;
  font-family:'Arial Black', Gadget, fantasy, sans-serif;
  color: rgb(150,10,10);
  padding:20px 0 0 0;
  margin:0px auto;
  font-weight:lighter;
  -moz-box-shadow:none;  
  -webkit-box-shadow: none;  
  box-shadow:none;  
  text-align:center;
  display:block;
 	
   
}background: url(title.jpg) no-repeat ;

nav{
	text-align: center;
}
ul#menu
{
	width: 1000px ;

    height: 35px ;
    margin: 0px auto;
    
    text-align:center;
    list-style-type: none ;
}

ul#menu li
{
    float: left ;
    text-align: center ;

}

ul#menu li a
{	
	margin-top: 10px;
    width: 185px ;
    line-height: 25px ;
    font-size: 1.2em ;
    font-weight: bold ;
    letter-spacing: 2px ;
    
    display: block ;
    text-decoration: none ;
 
	background-color: rgb(150,10,10);

    border-radius: 2px 2px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #fff;

}

ul#menu li a:hover
{
    background-color: rgb(240,100,100);
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}


div#contenu
{

    padding: 0 30px 0 100px ;
    
    background: url(miniappareil.jpg) no-repeat 15px 25px ;


}
div#contenuaccueil
{

    padding: 30px  100px ;
    
    background: url(photosaccueil.jpg) no-repeat 15px 20px ;
    
}
div#contenu h2
{
    padding-left: 25px ;
    line-height: 25px ;
    font-size: 1.4em ;
    background: url(little_apple.gif) no-repeat left bottom ;
    color: black ;
    border-bottom: 1px solid black ;
}
div#contenu h3
{
    margin-left: 15px ;
    padding-left: 5px ;
    border-bottom: 1px solid #9b2 ;
    border-left: 3px solid #9b2 ;
    color: #9b2 ;
}
div#contenu p
{
    text-align: justify ;
    text-indent: 2em ;
    line-height: 1.7em ;
}
div#contenu a
{
    color: #8a0 ;
}

div#contenu a:hover
{
    color: #9b2;
}

p#photos 
{
	text-align: center ;
}

p#photosaccueil
{

}

p#footer
{
    margin: 0 ;
    padding-right: 10px ;
    line-height: 30px ;
    text-align: right ;
    color: black ;
}
pre
{
    overflow: auto ;
    background: #dea ;
    border: 2px solid #9b2 ;
    padding: 5px 0 0 5px ;
    font-size: 1.2em ;
}

pre span
{
    color: #560 ;
}
pre span.comment
{
    color: #b30000 ;
}


form 
{

	text-align: center ;
}

.col-lg-3{
 position: relative;

  min-height: 1px;
  padding-top: 30px;
  padding-right: 15px;
  padding-left: 50px;
  padding-bottom: 15px;

  border-radius: 4px;
  display: block;


}

.col-lg-3 img{
	border-color: solid red;
	border-radius: 4px;
	box-shadow: 6px 6px 6px black;


}


.col-lg-3 p{
	
	position: absolute;
	left: 600px;
	top: 100px;
	 display: inline-block;

	 font-family: 'Comic Sans MS', Arial, serif;
}
p#user img{
	box-shadow:  none;
	margin-top: 20px;
}

p#user{

		left: 550px;
	top: 80px;
	margin-top: 10px;

}

p#descri{

	left: 550px;
	top: 150px;

}


.connexionstyle{

    width:450px;
    
    margin:50px 400px;
    background: #dea;
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
.connexionstyle{

    padding: 2px;
    background-color: rgb(250,200,200);
    border-radius: 6px;
    margin-bottom: 15px;
}
.connexionstyle h1{
    
    background-color: rgb(150,10,10);
    padding: 10px ;
    margin: -30px -30px 30px -30px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #fff;
}
.connexionstyle h1 > span{
    display: block;
    margin-top: 2px;
    font: 13px Arial, Helvetica, sans-serif;
}
.connexionstyle label{
    display: block;
    font: 13px Arial, Helvetica, sans-serif;
    color: #888;
    margin-bottom: 15px;
}
.connexionstyle input[type="text"],
.connexionstyle input[type="date"],
.connexionstyle input[type="datetime"],
.connexionstyle input[type="email"],
.connexionstyle input[type="number"],
.connexionstyle input[type="search"],
.connexionstyle input[type="time"],
.connexionstyle input[type="url"],
.connexionstyle input[type="password"],
.connexionstyle textarea,
.connexionstyle select {
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 2px;
    border-radius: 6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.connexionstyle .section{
    font: normal 20px 'Bitter', serif;
    color: rgb(150,10,10);
    margin-bottom: 5px;
}
.connexionstyle .section span {
    
    background-color: rgb(150,10,10);
    padding: 5px 10px 5px 10px;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 4px solid #fff;
    font-size: 14px;
    margin-left: -45px;
    color: #fff;
    margin-top: -3px;
}
.connexionstyle input[type="button"], 
.connexionstyle input[type="submit"]{
    background-color: rgb(150,10,10);
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #dea;
    font-size: 15px;
}
.connexionstyle input[type="button"]:hover, 
.connexionstyle input[type="submit"]:hover{
    background-color: rgb(240,100,100);
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}
.connexionstyle .privacy-policy{
    float: right;
    width: 250px;
    font: 12px Arial, Helvetica, sans-serif;

    color: #4D4D4D;
    margin-top: 10px;
    text-align: right;
}
